* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: #28c16f;
  /* overflow: hidden; */
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 40px 60px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
}

nav ul li a {
  color: #fff;
  font-size: 1.2rem;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
}

nav ul li a:hover {
  border-bottom-color: #fff;
}

/* .main {
  overflow: hidden;
} */

.section {
  height: 100vh;
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left p {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.left h4 {
  font-size: 3rem;
  color: #1c683f;
  margin-bottom: 2rem;
}

.left .btn {
  padding: 1rem 3rem;
  background: #1c683f;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s;
}

.left .btn:hover {
  box-shadow: 0 1px 4px #1c683f;
}

.right img {
  width: 300px;
  margin-bottom: 1rem;
  animation: float 1.8s infinite alternate;
}

.right .shadow {
  width: 280px;
  height: 45px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 0 auto;
  filter: blur(5px);
  animation: shadow 1.8s infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.85,.85);
  }
}

/* ======= responsivo ========== */
@media (max-width: 950px) {
  .section {
    padding: 4rem;
  }
}

@media (max-width: 800px) {
  header {
    background: #1c683f;
    padding: 20px 60px;
  }
  .section {
    padding: 8rem 4rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  nav {
    gap: 20px;
  }
  .section {
    padding-top: 10rem;
  }
}

@media (max-width: 500px) {
  .left p {
    font-size: 2rem;
  }
  .left h4 {
    font-size: 2.5rem;
  }
  .section, header {
    padding-inline: 2rem;
  }
  nav {
    justify-content: center;
  }
  nav ul {
    gap: 30px;
  }
}